a { /* обращаюсь ко всем ссылкам */
    text-decoration: none;
    /* ^ убрать встроенную стилизацию */
    color: darkorange;
    /* ^ выбираю цвет текста */
    font-size: 24px;
    /* ^ изменяю размер текста ссылок */

    transition: color 1s, font-size .5s;
    /* анимировать_свойства: название время, название время; */
}

a:hover { /* обращаюсь к ссылкам, над которыми
 находится курсор мышки*/
    color: #d3143b;
    font-size: 32px;
}

li { /* я хочу стилизовать элементы списка - li */
    list-style-image: url('img/check.png');
    /* вместо точек элементам списка поставить картинку из папки img */
}