table { /* стилизуем саму таблицу */
    border: 4px solid #475a28;
    /* рамка: 3пикс_ширина пунктирная_линия зеленый_Цвет */
    margin: 50px auto;
    /* внешний отступ (верх-низ - 50пикс, лево-право - автомат) */
    border-collapse: collapse;
    /* убираю отступы между ячейками таблицы*/
}
td, th { /* стилизуем ячейки таблицы */
    border: 3px solid #e5ab23;
    padding: 30px;
    /* внутренний отступ 30пикс со всех сторон */
}

.red-right {
    border-right: 5px solid red;
    /* рамки можно задавать по отдельным сторонам */
    border-bottom: 5px solid red;
}