input[type="text"],
input[type="password"] {
    width: 40%;
    padding: 1em;
    margin: 1em auto;
    border-radius: 1em;
}

.btn {
    background: transparent;
    padding: 0.5em;
    border-radius: 1em;
    border: 1px solid;
    font-size: 18px;
    margin: 1em;
}

input[type="submit"] {
    border-color: #65ff61;
}
input[type="reset"] {
    border-color: #ffd64a;
}