div,
main,
footer,
header,
section {
    height: 100vh;
    /* блоки будут занимать
     все доступнное пространство
     по вертикали */
    margin: 2em 0;
    font-size: 32px;
    text-align: center;
    /* расположить текст по центру */
}

header {
    background: #2585ff;
}
section {
    background: #4fa0ff;
}
div {
    background: #67aaff;
}
main {
    background: #7bb5ff;
}
footer {
    background: #92c1ff;
}

a {
    text-decoration: none;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}