/*
селектор { <- p, h1, div etc
    свойство: значение;
    свойство2: значение;
}
 */
* { /* стилизация ВСЕГО на странице */
    font-size: 40px; /* размер шрифта */
    line-height: 1.5; /* высота линии (межстрочный интервал) */
    color: dimgray; /* цвет всего текста на странице */
    background: #f1deb9;
}

.green-text { /* <- я обращаюсь к тегу параграфа */
    color: #75cd37; /* цвет зеленый */
    font-size: 32px; /* изменить размер шрифта */
}

ul {
    border: 2px solid dimgray; /* рамка вокруг списка. */
    /* рамка: размер сплошная цвет */
    border-radius: 25px; /* скругление углов у рамки */
}

.done {
    text-decoration: line-through;
    /* зачеркнутый текст ^ */
    color: #2f7bff;
}

li {
    color: red;
}